<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto Codethon</title>
</head>
<body>
  <nav>
    <ul>
      <div class="marca">
        <li><img src="../../../assets/images/logo.svg" alt="" /></li>
        <li><a href="/"><h3>VoltPath</h3></a></li>
      </div>
      <div class="buttons">
        <li>
          <a class="log" href="/">Volver</a>
        </li>
      </div>
    </ul>
  </nav>
</body>
</html>


