<main>
  <div class="login">
    <div class="logo">
      <img src="../../../assets/images/logo.svg" alt="VoltPath logo" />
      <h3>VoltPath</h3>
    </div>
    <form action="">
      <input type="email" placeholder="Usuario@email.com" />
      <input type="password" placeholder="Contraseña" />
      <div class="buttons">
        <button class="log">Entrar</button>
        <button class="reg">Registro</button>
      </div>
      <a href="/">Continuar sin cuenta</a>
    </form>
  </div>
</main>
