<main>
  <hr />
  <h2>Opel Corsa 2003</h2>

  <div class="pathing">
    <div class="ubi">
      <input type="text" placeholder="Ubicación" />
      <a href=""><i class="bi bi-arrow-90deg-up arrow"></i></a>
    </div>
    <ul>
      <li>
        <input type="text" placeholder="Parada 1" />
        <a href=""><i class="bi bi-node-minus"></i></a>
      </li>
      <li>
        <input type="text" placeholder="Parada 1" />
        <a href=""><i class="bi bi-node-minus"></i></a>
      </li>
      <li>
        <input type="text" placeholder="Parada 1" />
        <a href=""><i class="bi bi-node-minus"></i></a>
      </li>
    </ul>

    <div class="plus">
      <a href=""><i class="bi bi-plus-circle"></i></a>
    </div>

    <a class="startRoute" href="">Comenzar Ruta</a>
    <a class="closestCharger" href="">Cargador mas cercano</a>
  </div>
</main>
